<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tchaikousky.abm1_tchaikousky">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABM1Tchaikousky">
        <receiver
            android:name=".UI.MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name=".UI.AddEditViewAssessment" />
        <activity android:name=".UI.AddEditViewCourse" />
        <activity android:name=".UI.AddEditViewTerm" />
        <activity android:name=".UI.CourseList" />
        <activity android:name=".UI.TermList" />
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>